@{
    ViewData["Title"] = "Home Page";
}
@model Restauranter.Models.Review
<h1>Write a new Review:</h1>

<form asp-action="createReview" asp-controller="Home" method="POST">
    <span asp-validation-for="Name"></span><br>
    <label asp-for="Name">Name:</label>
    <input asp-for="Name"/><br>
    <span asp-validation-for="Restaurant_Name"></span>
    <label asp-for="Restaurant_Name">Restaurant:</label>
    <input asp-for="Restaurant_Name"/><br>
    <span asp-validation-for="Content"></span>
    <label asp-for="Content">Review:</label>
    <input asp-for="Content"/><br>
    <span asp-validation-for="Date"></span>
    <label asp-for="Date">Date visited</label>
    <input type="Date" asp-for="Date"/>
    <span asp-validation-for="Rating"></span>
    <label asp-for="Rating">Please Rate:</label>
    <select asp-for="Rating">
        <option value="1"> 1 star</option>
        <option value="2"> 2 stars</option>
        <option value="3"> 3 stars</option>
        <option value="4"> 4 stars</option>
        <option value="5"> 5 stars</option>
    </select>
    <br>
    <button>Submit</button>
</form>
